@import "../../../commonStyles/main.module.scss";

.profit {
  @include card;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  gap: 10px;

  h2 {
    @include subHeader;
  }

  .profitBlock {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
    padding: 20px;
    background: #13141f;
    border-radius: 8px;

    h4 {
      grid-column: span 2;
      margin-bottom: 1px;
      font-size: 16px;
      display: block;
    }

    .coins {
      grid-column: span 2;
      font-size: 14px;
      display: block;
      text-transform: uppercase;
      color: #999db4;
      margin-bottom: 3px;
    }

    .label {
      font-size: 10px;
      display: block;
      text-transform: uppercase;
      color: #61657e;
    }

    .data {
      font-size: 16px;
      color: #999db4;
      display: block;
      margin: 5px 0;
    }

    .totalProfit {
      grid-column: span 2;
      font-size: 28px;
      color: #81cf1d;
      font-weight: 300;
      margin-top: 5px;
      display: block;
    }
  }
}

@include tablet {
  .profit {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;

    & > *:first-child,
    & > *:last-child {
      grid-column: span 2;
    }

    h2 {
      margin-bottom: 20px;
    }
  }
}

@include tablet {
  .profit {
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;

    & > *:first-child,
    & > *:last-child {
      grid-column: span 1;
    }
  }
}
