@import "../../../commonStyles/main.module.scss";

.mainContent {
  background: linear-gradient(180deg, #181a2b 0%, #10101a 100%);

  .container {
    @include container;
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-bottom: 50px;
  }

  .payment {
    display: flex;
    gap: 30px;

    & > * {
      flex: 1 0;
    }
  }
}

@include tablet {
  .mainContent {
    .payment {
      flex-direction: column;
      gap: 50px;
    }
  }
}

@include tabletSmall {
  .mainContent {
    .container {
      gap: 30px;
      margin-bottom: 30px;
    }

    .payment {
      gap: 30px;
    }
  }
}
